
body {
  font-family: Arial, sans-serif;
  background-color: white;
}

h1 {
  color: black;
}

button {
  background-color:blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:orange;
}

textarea{
  display:flex;
  position: relative;
  margin-top: 25px;
}

.summary-box {
  max-width: 750px;
  margin-top: 10px;
}

.summary-text {
  line-height: 1.7;
  text-align: justify;
  font-size: 15px;
}


